<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Objectif</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				background-color: #f4f4f4;
				margin: 0;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100vh;
			}

			form {
				background-color: #fff;
				padding: 20px;
				border-radius: 8px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				width: 300px;
			}

			label {
				display: block;
				margin-bottom: 8px;
			}

			input,select {
				width: 100%;
				padding: 8px;
				margin-bottom: 16px;
				box-sizing: border-box;
			}

			button {
				background-color: #4caf50;
				color: #fff;
				padding: 10px 15px;
				border: none;
				border-radius: 4px;
				cursor: pointer;
				font-size: 16px;
			}

			button:hover {
				background-color: #45a049;
			}
		</style>
		<script src="/socket.io/socket.io.js"></script>

	</head>
	<body>

		<form >
			<label for="objectif">Objectif :</label>
			<input type="text" id="objectif" name="objectif" required>
			<label for="frequence">Frequence :</label>
			<select id="frequence" name="frequence" required>
			<option value="annuel" >Annuel</option>
				<option value="mensuel" >Mensuel</option>
            </select>
			<button onclick="envoyerEtRediriger(event)" type="submit">Envoyer</button>
	</form>
		<script>
			const socket = io.connect(); 

socket.on("objectif", (data) => {
s = document.createElement("p");
s.innerText = data;
document.body.appendChild(s);
objectif = document.getElementById("objectif")
frequence = document.getElementById("frequence")



})
socket.on("nouveauObjectif", (data) => {
            alert('Objectif exercée par ' + data.objectif + ' a pour un frequence  : ' +data.frequence);
        });
function envoyerEtRediriger(event) {
	  event.preventDefault(); 
objectif = {
objectif: objectif.value,
frequence: frequence.value,


}
 if (!objectif || !frequence  ) {
          alert("Veuillez remplir tous les champs.");
          return;
        }

       
socket.emit("objectif", objectif)
		 window.location.href = "/objectif/tousobjectif";

}
		</script>
	</body>
</html>
